# Rename or copy this file to .env before running locally

HTTP_PORT=8080

# PostgreSQL
PG_HOST=postgres
PG_PORT=5432
PG_DB=foodapp
PG_USER=foodapp
PG_PASSWORD=foodapp123
PG_SSLMODE=disable

# JWT
JWT_SECRET=change-me
JWT_ACCESS_TTL_MIN=15
JWT_REFRESH_TTL_HRS=720
